/* This file is for your main application css. */
@import "./milligram.css";
@import "../node_modules/nprogress/nprogress.css";
@import "./code-theme.css";

html, body {
  display:flex;
  flex-direction:column;
  height:100%;
  margin:0;
}

html, body {
  background-color: #3e424d;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid #cbccd2; */
}

.logo {
  margin: 0;
  padding: 20px 10px;
}

.logo img {
  height: 40px;
}

td {
  border: 0;
  padding: 1px;
}

nav.footer {
  width: 100%;
  margin-top: auto;
  color: #fff;
  border-top: 1px solid #cbccd2;
}

nav.footer h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

nav.footer {
  padding: 10px 20px 20px 20px;
}

nav.footer ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: .8em;

}

nav.footer ul li {
  margin: 0;
  list-style: none;
}

nav.footer a {
  color: #fff;
}

.copyright {
  margin-top: 9px;
  font-size: 0.8em;
}

.copyright p {
  margin: 10px 0 10px 0;
}

.copyright a {
  white-space: nowrap;
}

.search-area {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ddd;
}

.search-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
}

input.search-input {
  margin-top: 7rem;
  width: 400px;
  font-size: 16px;
  background-color: white;
}

.select-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  label { color: #fff; font-weight: normal; }
  
  select.file-select {
    width: 100%;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23333333%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23333333%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E") calc(100% - 1.3em) center no-repeat;
  }
  select.file-select::-ms-expand {
    display: none;
  }
}

.version-form {
  width: 400px;
}

.version-area {
  display: flex;
  flex-direction: column;
}

input.search-input:focus {
  border-color: #ddd;
}

.suggestion {
  color: #eee;
  cursor: pointer;
  background: #714a94;
  padding: 2px 6px;
  border-radius: 5px;
  border-color: #714a94;
  display: block;
  float:left;
  margin: 0 8px 8px 0;
}

.suggestion:hover {
  background-color: #8154a8;
}

.select-area select {
  font-size: 16px;
  background-color: white;
}

.diff-button {
  background-color: #714a94;
  border-color: #714a94;
}

.diff-button:hover {
  background-color: #8154a8;
  border-color: #8154a8;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.message {
  margin-top: 15rem;
  font-size: 36px;
}

.message-container button {
  margin-top: 50px;
}

code {
  font-family: Menlo, Consolas, monospace;
}

.code_file {
  background-color: #fff;
  font-family: Menlo, Consolas, monospace;
  font-size: 18px;
  padding: 2em;
  color: #333;
  border-radius: 5px;
  margin-bottom: 2.5em;

  h2 {
    font-size: 2.2rem;
    line-height: 2.4em;
    border-bottom: 1px solid #ccc;
  }

  section.code {
    pre > code {
      padding-top: 0;
    }
  }
}

.ghd-container {
  font-family: Menlo, Consolas, monospace;
  font-size: 13px;
  color: #333;
  border-radius: 5px;
  margin-bottom: 50px;
}

.ghd-file {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 1em;
  background-color: white;
}

.ghd-file-header {
  padding: 10px;
  border-bottom: 0.1rem solid #e1e1e1;
  cursor: pointer;
}

.ghd-file-header .reveal-diff {
  display: none;
  float: right;
  color: #999;
}

.ghd-file-header .reveal-diff path {
  fill: #999;
}

.ghd-file-header.collapsed .reveal-diff {
  display: block;
}

.ghd-file-header .collapse-diff {
  display: block;
  float: right;
  color: #999;
}

.ghd-file-header .collapse-diff path {
  fill: #999;
}

.ghd-file-header.collapsed .collapse-diff {
  display: none;
}

.ghd-chunk-header .ghd-line-number {
  background-color: #f8fafd;
}

.ghd-file-status {
  color: #999;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 0 3px;
  display: inline-block;
  text-transform: uppercase;
}

.ghd-file-status-removed {
  color: red;
  border-color: red;
}

.ghd-file-status-added {
  color: rgb(115, 148, 115);
  border-color: rgb(115, 148, 115);
}

.ghd-diff {
  overflow-y: hidden;
}

.ghd-diff.hidden{
  display: none;
}

.ghd-chunk-header {
  background-color: #f8fafd;
  color: rgba(0,0,0,.3);
}

.ghd-line-number {
  position: absolute;
  width: 80px;
  background-color: white;
  display: flex;
  color: rgba(0,0,0,.3);
  cursor: pointer;
}


.ghd-line.selected .ghd-line-number,
.ghd-line.selected .ghd-line-number,
.ghd-line.selected .ghd-text {
  background-color: rgb(255, 251, 194);
}

.ghd-line-number-from {
  padding-left: 10px;
}

.ghd-line-number-to {
  padding: 0 10px;
}

.ghd-line-type-add {
  background-color: #dfd;
}

.ghd-line-type-add .ghd-line-number {
  background-color: #bdffbd;
}

.ghd-line-type-remove {
  background-color: #fee8e9;
}

.ghd-line-type-remove .ghd-line-number {
  background-color: #ffd7d9;
}

.ghd-line-number div {
  width: 35px;
}

.ghd-text-internal {
  white-space: pre;
}

.ghd-text-internal {
  padding: 0 90px;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px) {
    input.search-input {
      margin-top: 3rem;
      width: 200px;
    }

    .search-form {
      width: 200px;
    }

    .version-form {
      width: 200px;
    }

    .ghd-container {
      font-size: 10px;
    }
}

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
