<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta
      name="description"
      content={assigns[:meta_description] || "Web based preview of Hex packages"}
    />
    <%= if assigns[:canonical] do %>
      <link rel="canonical" href={assigns[:canonical]} />
    <% end %>
    {csrf_meta_tag()}
    <.live_title suffix=" | Hex Preview">
      {assigns[:page_title] || "Home"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/css/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/js/app.js")}
    >
    </script>

    <%= if plausible_url = Application.get_env(:preview, :plausible_url) do %>
      <% host = Application.fetch_env!(:preview, :host) %>
      <script async defer data-domain={host} src={plausible_url}>
      </script>
    <% end %>
  </head>
  <body>
    <header>
      <section class="header">
        <div class="container">
          <h1 class="logo">
            <a href="/">
              <img src={Routes.static_path(@conn, "/images/hexpreview.svg")} alt="hexpreview" />
            </a>
          </h1>
        </div>
      </section>
    </header>

    <main role="main" class="main container">
      {@inner_content}
    </main>

    <nav class="footer">
      <div class="container">
        <div class="row">
          <div class="column">
            <h4>About Hex</h4>
            <ul>
              <li><a href="https://hex.pm/about">About</a></li>
              <li><a href="https://hex.pm/blog">Blog</a></li>
              <li><a href="https://hex.pm/sponsors">Sponsors</a></li>
              <li><a href="https://github.com/hexpm">GitHub</a></li>
              <li><a href="https://twitter.com/hexpm">Twitter</a></li>
            </ul>
          </div>

          <div class="column">
            <h4>Help</h4>
            <ul>
              <li><a href="https://hex.pm/docs">Documentation</a></li>
              <li><a href="https://github.com/hexpm/specifications">Specifications</a></li>
              <li><a href="https://github.com/hexpm/hex/issues">Report Client Issue</a></li>
              <li><a href="https://github.com/hexpm/hexpm/issues">Report General Issue</a></li>
              <li><a href="mailto:support@hex.pm">Contact Support</a></li>
            </ul>
          </div>

          <div class="column">
            <h4>Policies and Terms</h4>
            <ul>
              <li><a href="https://hex.pm/policies/codeofconduct">Code of Conduct</a></li>
              <li><a href="https://hex.pm/policies/termsofservice">Terms of Service</a></li>
              <li><a href="https://hex.pm/policies/privacy">Privacy Policy</a></li>
              <li><a href="https://hex.pm/policies/copyright">Copyright Policy</a></li>
              <li><a href="https://hex.pm/policies/dispute">Dispute Policy</a></li>
            </ul>
          </div>

          <div class="column copyright">
            <p>{Date.utc_today().year} © Six Colors AB.</p>
            <p>
              Powered by the <a href="https://www.erlang.org/">Erlang VM</a>
              and the <a href="https://elixir-lang.org/">Elixir programming language</a>.
            </p>
          </div>
        </div>
      </div>
    </nav>

    <script type="text/javascript" src={Routes.static_path(@conn, "/js/app.js")}>
    </script>
  </body>
</html>
